@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 1800px;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D2128;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 15px;
}


/****=============*****************
navigation section start
*****************=============****/
header{
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    color: #3498db;
}

.logo:hover{
    color: #333;
}

.logo_s{
    color: #333;
    margin-left: 5px;
}

.logo:hover .logo_s{
    color: #3498db;
}

.sign{
    float: right;
    line-height: 60px;
    margin-right: 40px;
}

.sign a{
    color: #fff;
    font-weight: 600;
}

.act{
    border: 2px solid #fff;
    border-radius: 58px;
    padding: 6px 15px;
}

.sign a:hover{
    color: #3498db;
    border-color: #3498db;
}

.slider{
    position: relative;
    width: 100%;
    background: #2c3e50;
}

.myslider{
    height: 100vh;
    overflow: hidden;
    display: none;
}

img{
    width: 100%;
    height: 100%;
    transform: scale(1.4, 1.4);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 30s;
    animation-name: zoomin;
    animation-duration: 30s;
}

@-webkit-keyframes zoomin{
    from{transform: scale(1, 1);}
    to{transform: scale(1.4, 1.4);}
}

@keyframes zoomin{
    from{transform: scale(1, 1);}
    to{transform: scale(1.4, 1.4);}
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
    background: #000;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
}

.prev:hover, .next:hover{
    color: #3498db;
}

.prev{
    left: 15px;
}

.next{
    right: 15px;
}

.dotsBox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 4px solid #3498db;
    margin: 0 10px;
    cursor: pointer;
}

.active, .dot:hover{
    border-color: #de4644;
}

.myslider.active{
    display: block;
}


.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: 0.8}
    to{opacity: 1}
}

@keyframes fade{
    from{opacity: 0.8}
    to{opacity: 1}
}

.text{
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 50%;
    transform: translateX(-50%);
    left: 40%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 3;
}

@-webkit-keyframes posi{
    from{left: 30%;}
    to{left: 20%;}
}

@keyframes posi{
    from{left: 30%;}
    to{left: 20%;}
}

.text h1{
    color: #3498db;
    font-weight: 600;
    margin-bottom: 20px;
}

.text p{
    font-weight: 600;
    font-size: 20px;
}





















